<div class="course-card">
  <div class="d-flex">
    <span class="course-status" *ngIf="course.type == 'PRIVATE'"> Private course <mat-icon>lock</mat-icon> </span>
    <span class="course-status" *ngIf="course.type == 'DRAFT'"> Draft <mat-icon>edit</mat-icon> </span>
    <div *ngIf="userData!=null && (userData.isSuperAdmin || isBelongTo(course.ownerIds, userData)) ">
      <button class="btn btn-primary edit-course-btn" routerLink="/courses/edit/{{course.id}}">Edit</button>
      <button class="btn btn-danger edit-course-btn" (click)="delete(course.id)">Delete</button>
    </div>
    <div *ngIf="course.completion?.isStarted && !course.completion?.isCompleted">
      <span style="color: green; margin-left: 5px">IN PROGRESS</span>
    </div>
    <div *ngIf="course.completion?.isCompleted">
      <span style="color: gray; margin-left: 5px">COMPLETED</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">{{course.name}} </h5>

        <div id="course-description{{course.id}}" #courseDescription class="card-text course-description"
             [innerHTML]="course.description | keepHtml"></div>
        <div #descriptionShadow></div>
        <a #descriptionCollapse class="collapsed collapse-description-btn" href="#course-description{{course.id}}"
           data-toggle="collapse"
           aria-expanded="false" (click)="checkShadow(descriptionShadow)" style="text-align: center"></a>
        <a style="margin-top: 10px" mat-raised-button color="primary" routerLink="/courses/{{constructCourseUrl(course)}}">
          <span *ngIf="!course.completion?.isStarted">Start course</span>
          <span *ngIf="course.completion?.isStarted && !course.completion?.isCompleted">Continue</span>
          <span *ngIf="course.completion?.isCompleted">View</span>
        </a>
      </div>
    </div>


  </div>
</div>
