<div class="d-flex comment m-2">
  <div class="d-flex align-items-center m-2">
    <img [src]="comment.userPic" style="width: 40px" alt="assets/anon.jpg" class="userPic rounded-circle">
  </div>
  <div class="m-2">
    <div class="d-flex flex-nowrap">
      <div class="d-flex flex-wrap">
        <span><b> {{comment.userName}}</b></span>
        <span style="margin-left: 10px; margin-right: 10px">{{comment.createDate | fromNow}}</span>
      </div>
      <ng-template [ngIf]="comment.editable">
        <button class="edit-comment-btn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="updateComment()" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button (click)="deleteComment()" mat-menu-item>
            <mat-icon svgIcon="trash"></mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </ng-template>
    </div>
    <div [innerHTML]="comment.commentText"></div>
  </div>

</div>
