.displayed {
  display: inline !important;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.lessons-list {
  width: 100%;
}

.invisible {
  display: none;
}

.panel-step-item {
  max-width: 30vw;
  cursor: pointer;
}

@media screen and (max-width: 800px){
  .panel-step-item {
    max-width: 70vw;
  }
}

.panel-content {
  position: sticky;
  top: 10px;
}

.nav-btn {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
