@import "src/scss/constants";

#loginBtn {
  color: $linkColor;

  &:hover {
    color: white;
  }
}

img {
  width: 191px;
}

.logged-user {
  margin: auto;
  cursor: pointer;
  width: fit-content;
}
