<div *ngIf="!(authService.isAuthorized() | async)" class="dropdown" style="display: inherit">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Login
  </button>
  <div id="loginDrop" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href='{{appUrl}}/oauth2/authorization/facebook' class="dropdown-item">
      <img src="assets/logwithfacebook.png"/>
    </a>
    <a href='{{appUrl}}/oauth2/authorization/google' class="dropdown-item">
      <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"/>
    </a>
  </div>
</div>
<div *ngIf="(authService.isAuthorized() | async)">

  <button class="btn btn-secondary" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="icon-btn-text ">Logout</span>
  </button>
</div>
