<div *ngIf="!(authService.isAuthorized() | async)" class="dropdown" style="display: inherit">
  <button id="loginBtn" class="btn btn-primary" type="button" mat-button [matMenuTriggerFor]="menu">Login
  </button>
  <mat-menu #menu="matMenu">
    <a href='{{appUrl}}/oauth2/authorization/facebook' class="dropdown-item">
      <img src="assets/logwithfacebook.png"/>
    </a>
    <a href='{{appUrl}}/oauth2/authorization/google' class="dropdown-item">
      <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"/>
    </a>
  </mat-menu>
</div>
<div *ngIf="(authService.isAuthorized() | async)">

  <button class="btn btn-secondary" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="icon-btn-text ">Logout</span>
  </button>
</div>
