<div class="parallax-window" data-parallax="scroll"
     data-image-src="https://images.unsplash.com/photo-1499092346589-b9b6be3e94b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80">
  <div class="container cards-block align-middle">
    <div class="row cards-block align-items-center">
      <div class="card col m-5 cards-opacity" style="width: 18rem;">
        <div class="text-center">
          <img src="assets/parallax.jpg" class="card-img-top rounded"
               alt="..."/>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col m-5 cards-opacity" style="width: 18rem;">
        <div class="text-center">
          <img src="https://images.unsplash.com/photo-1534430480872-3498386e7856?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" class="card-img-top rounded"
               alt="..."/>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col m-5 cards-opacity" style="width: 18rem;">
        <div class="text-center">
          <img src="https://png.pngtree.com/element_origin_min_pic/00/00/06/12575cb9a51ad34.jpg" class="card-img-top rounded"
               alt="..."/>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
