<div class="d-flex  align-items-center justify-content-center"
     style="text-align: center; display: block; width: 100%; height: 100vh; overflow: hidden">
  <div class=" d-flex flex-column shadow " style="background: white">
    <h3 style="margin-bottom: 80px">Please, login.</h3>
    <div matRipple class="m-1 ">
      <a href='{{appUrl}}/oauth2/authorization/facebook'>
        <img src="assets/logwithfacebook.png" style="height: 60px"/>
      </a>
    </div>
    <div matRipple class="m-1">
      <a href='{{appUrl}}/oauth2/authorization/google'>
        <img src="assets/btn_google_signin.png"/>
      </a>
    </div>
  </div>
</div>


