<div class="main-body container-fluid p-5">
  <div class="row justify-content-md-center">
    <div id="header-wrapper ">
      <div id="header" class="container ">
        <h1><a href="#">Welcome to the {{ title }}!</a></h1>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="container ">
      <div class="subtitle row justify-content-md-center">
        <h2>What text should be here?</h2>
      </div>
      <div class="into row justify-content-md-center">
        <p>What text should be here? </p>
      </div>

    </div>
  </div>
</div>
<app-middle></app-middle>
<app-cards></app-cards>
<app-footer></app-footer>

