.banner {
  max-height: 40vh !important;
  width: 100%;
}


/*.parallax {
  !* The image used *!
  background-image: url("img_parallax.jpg");

  !* Create the parallax scrolling effect *!
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
  display: inline-block;
  border: 1px solid rgba(0,0,0,.1);
}

.image img
{
  display: block;
  width: 100%;
}

.image-full
{
  display: block;
  width: 100%;
  margin: 0 0 3em 0;
}

.image-left
{
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered
{
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img
{
  margin: 0 auto;
  width: auto;
}

.main-body {
  background-position: center;
  background-image: url("https://images.pexels.com/photos/247819/pexels-photo-247819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;

  height: 50vh;
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
  margin-bottom: 3em;

}

.title h2
{
  font-size: 2.8em;

}

.title .byline
{
  font-size: 1.1em;

}


.main-body .row {
  margin: 6vh;
}
