@import url('https://fonts.googleapis.com/css?family=Akronim');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import "node_modules/bootstrap/scss/vendor/_rfs.scss";

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image {
  display: inline-block;
  border: 1px solid rgba(0,0,0,.1);
}

.image img
{
  display: block;
  width: 100%;
}

.image-full
{
  display: block;
  width: 100%;
  margin: 0 0 3em 0;
}

.image-left
{
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered
{
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img
{
  margin: 0 auto;
  width: auto;
}

.main-body {
  /*background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;*/
  height: 70vh;
  font-family: 'Questrial', sans-serif;
  font-size: 12pt;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
  margin-bottom: 3em;

}

.title h2
{
  font-size: 2.8em;

}

.title .byline
{
  font-size: 1.1em;

}


.main-body .row {
  margin: 6vh;
}



#slogan{
  font-family: "Permanent Marker", cursive;
  text-transform: capitalize;
  text-align: center;
  font-size: calc(1.8rem + 1vmin);
  letter-spacing: 5px;
  word-spacing: 3px;
  color: rgb(0, 0, 0);
  //text-shadow: rgb(0, 0, 0) 5px 2px 2px;
}

.center {
  display: block;
  text-align: center;
}

