<div class="d-flex flex-column aboutme-section">
  <h2 class="text-center aboutme">About me</h2>
  <div class="m-2 text-center p-2">
    <img src="assets/about.jpg" alt="'My picture'" class="img-fluid">
  </div>
  <div class="m-2">
    <h3 class="aboutme">
      Hello! My name is Dmitry. Thank you very much for visiting my website! I am software engineer from the company Epam Systems. I set up this website to allow
      anybody to place courses for educational purposes. Let's see together how it will go. Your participation and feedback will motivate me to develop it further.
      I hope you’ll find it useful and encouraging!
    </h3>
  </div>
</div>

