<div class="d-flex aboutme-section ">
  <div class="m-4 d-flex flex-column justify-content-center">
    <img src="assets/about.jpg" alt="'My porter'" class="rounded-circle img-fluid">
  </div>
  <div class="m-2">
    <h3 class="aboutme">
      Hello! My name is Kirill. Thank you very much for visiting my website! I’ve got a degree in English with more than
      three years of experience working as a university class instructor, language school teacher and private tutor.
      Being a non-native speaker, I understand perfectly well how challenging learning a foreign language can be! I
      clearly remember myself reading thick English textbooks, doing boring exercises and memorizing countless words at
      the beginning of my English language journey. However, I haven’t lost my passion for languages ever since, despite
      all the difficulties. Apart from English, I can speak Spanish, Brazilian Portuguese and French with varying
      degrees of fluency. I’ve always wanted to make the process of language learning easy and enjoyable, share my
      knowledge and motivate people from all over the world, that’s why I decided to set up this website! I hope you’ll
      find it useful and encouraging!
    </h3>
  </div>
</div>

<div class="d-flex flex-column aboutme-section-min">
  <div class="m-2 text-center p-2">
    <img src="assets/about.jpg" alt="'My porter'" class="rounded-circle img-fluid w-50">
  </div>
  <div class="m-2">
    <h3 class="aboutme">
      Hello! My name is Kirill. Thank you very much for visiting my website! I’ve got a degree in English with more than
      three years of experience working as a university class instructor, language school teacher and private tutor.
      Being a non-native speaker, I understand perfectly well how challenging learning a foreign language can be! I
      clearly remember myself reading thick English textbooks, doing boring exercises and memorizing countless words at
      the beginning of my English language journey. However, I haven’t lost my passion for languages ever since, despite
      all the difficulties. Apart from English, I can speak Spanish, Brazilian Portuguese and French with varying
      degrees of fluency. I’ve always wanted to make the process of language learning easy and enjoyable, share my
      knowledge and motivate people from all over the world, that’s why I decided to set up this website! I hope you’ll
      find it useful and encouraging!
    </h3>
  </div>
</div>

