<a href="{{link}}" class="m-2"  >
  <div class="d-flex justify-content-center" style="max-width: 155px; margin: auto">

    <div class="d-flex flex-column">

      <div class="doc-image-wrap">
        <img *ngIf="!isPdf()" class="doc-image d-block" src="assets/doc.png" alt="word doc icon"/>
        <img *ngIf="isPdf()" class="doc-image d-block" src="assets/pdf.png" alt="pdf icon"/>
      </div>
      <div>
        <p class="doc-title text-center">{{title}}</p>
      </div>
    </div>

  </div>
</a>
