/* On smaller screens, where height is less than 450px, change the style of the lesson-panel (less padding and a smaller font size) */
@import "node_modules/bootstrap/scss/vendor/_rfs.scss";

.content-page {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5vh;
}

@media screen and (max-width: 1300px) {
  .content-page {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 1300px) {
  .content-page {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 500px) {
  .content-page {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-height: 450px) {
  .lesson-panel {
    padding-top: 15px;
  }
  .lesson-panel a {
    font-size: 18px;
  }


}

.small-attachments {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .small-attachments {
    display: block !important;
  }
  .big-attachments {
    display: none !important;
  }
}

.lesson-content-text {
  @include font-size(1em, true);
}

.center {
  display: block;
  text-align: center;
}

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
  &.success {
    color: #73AF55;
  }
  &.error {
    color: #D06079;
  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}


.tick {
  margin-top: 5%;
}

.flex-even {
  flex: 1;
}
