/* On smaller screens, where height is less than 450px, change the style of the lesson-panel (less padding and a smaller font size) */
@import "node_modules/bootstrap/scss/vendor/_rfs.scss";

@media screen and (max-height: 450px) {
  .lesson-panel {
    padding-top: 15px;
  }
  .lesson-panel a {
    font-size: 18px;
  }
}

.attachment-tab {
  width: 5vw;
  height: 5vh;
}

.lesson-content-text {
  @include font-size(1em, true);
}
