<div class="course">
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav position="start" mode="side" class="sidebar" >
      <app-course-panel
        [stepSwitcher]="stepSwitcher"></app-course-panel>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <button (click)="sidenav.toggle()" class="btn btn-primary btn-sm" type="button">Show the course
        content
      </button>
      <app-lesson></app-lesson>
      <app-test></app-test>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
