<ngx-json-ld *ngIf="schema" [json]="schema"></ngx-json-ld>
<div class="course">

  <mat-sidenav-container class="full-height" autosize>
    <mat-sidenav id="sidenavStep" #sidenav position="start"
                 [mode]="sidenavmode()? 'side': 'push'" class="sidebar" style="overflow: hidden" opened="true">
      <app-course-panel
        [stepSwitcher]="stepSwitcher" [currentLesson]="currentLesson" [currentTest]="currentTest"></app-course-panel>
      <button type="button" class="close" aria-label="Close" (click)="sidenav.toggle()">
        <span aria-hidden="true">×</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <button (click)="sidenav.toggle()" class="btn btn-primary btn toggleBtn" type="button" id="toggleBtn">
        <mat-icon>menu</mat-icon>
      </button>
      <button class="btn btn-warning editBtn" *ngIf="isOwner" [routerLink]="'/courses/edit/' + currentCourse.id"><mat-icon>edit</mat-icon>Edit course</button>
      <div class="main-content">
        <div style="width: 100%; height: 70vh;" class="d-flex justify-content-center" *ngIf="spinnerVisible">
          <mat-progress-spinner [mode]="'indeterminate'" style="margin: auto">
          </mat-progress-spinner>
        </div>
        <app-lesson [lessonData]="currentLesson" class="content-page"></app-lesson>
        <app-test [testData]="currentTest" class="content-page" [isOwner]="isOwner"></app-test>
        <img src="assets/up.png" class="up-arrow" id="upBtn" (click)="topFunction()">
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
