
.course {
  height: 100%;
}

.sidebar {
  background-color: #9acc9c;
}
.main-content {
  display: inline;

}
.full-height {
  min-height: 100vh;
}

/*.panel-step-item {
  max-width: 30vw;
}

@media screen and (max-width: 800px){
  .panel-step-item {

  }
}*/
