<div class="d-flex flex-column">
  <div class="p-2 font-weight-bold text-center">{{questionData.question}}</div>
  <div *ngIf="questionData.variants.length">

    <div *ngFor='let variant of questionData.variants'>
      <div *ngIf="questionData.isMultiple">
        <div class="checkboxFive">
          <input type="checkbox" id="{{variant.id}}"
                 [checked]="variant.isTicked || variant.isRight || variant.isWrong">
          <label [class.isWrong]="variant.isWrong" [class.isRight]="variant.isRight"
                 for="{{variant.id}}"><span>{{variant.variant}}</span></label>
        </div>
      </div>
      <div *ngIf="!questionData.isMultiple">
        <div class="radioFive">
          <input type="radio" id="{{variant.id}}" name="{{questionData.id}}"
                 [checked]="variant.isTicked || variant.isRight || variant.isWrong">
          <label for="{{variant.id}}" [class.isWrong]="variant.isWrong" [class.isRight]="variant.isRight"><span>{{variant.variant}}</span></label>
        </div>
      </div>
    </div>
  </div>
</div>
