<div class="d-flex flex-column" [class.failed]="questionData.status=='FAILED'"
     [class.success]="questionData.status=='SUCCESS'">
  <div [innerHTML]="questionData.question" class="p-2 text-center"></div>
  <div *ngIf="questionData.variants.length">

    <div *ngFor='let variant of questionData.variants'>
      <div class="m-2" *ngIf="questionData.type == 'MULTIPLE_CHOICE'">
        <div class="checkboxFive">
          <input type="checkbox" id="{{variant.id}}" (change)="changeMultipleChoice(variant)" [checked]="variant.isTicked || variant.isRight || variant.isWrong">
          <label [class.isWrong]="variant.isWrong" [class.isRight]="variant.isRight"
                 for="{{variant.id}}"><span class="text-nowrap">{{variant.variant}}</span></label>
        </div>
        <label *ngIf="(variant.isWrong || variant.isRight) && notEmpty(variant.explanation)"
               [class.isWrong]="variant.isWrong"
               [class.isRight]="variant.isRight"><span class="explanation"><b>Explanation: {{variant.explanation}}</b></span></label>
      </div>
      <div class="m-2" *ngIf="questionData.type == 'SINGLE_CHOICE'">
        <div class="radioFive">
          <input type="radio" id="{{variant.id}}" name="{{variant.id}}" [checked]="variant.isTicked || variant.isRight || variant.isWrong"
                 (change)="changeVariant(variant)">
          <label for="{{variant.id}}" [class.isWrong]="variant.isWrong"
                 [class.isRight]="variant.isRight"><span class="text-nowrap">{{variant.variant}}</span></label>
        </div>
        <label *ngIf="(variant.isWrong || variant.isRight) && notEmpty(variant.explanation)"
               [class.isWrong]="variant.isWrong"
               [class.isRight]="variant.isRight"><span><b>Explanation: {{variant.explanation}}</b></span></label>
      </div>
    </div>
  </div>
</div>
