<div class="advantages-section  ">
  <mat-card class="shadow-lg p-3 mb-5 bg-white rounded">
    <!-- <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>Shiba Inu</mat-card-title>
       <mat-card-subtitle>Dog Breed</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <h2 class="text-center">Our advantages</h2>
      <p class="advantages">
        On our website you can find an incredibly diverse choice of online English lessons accompanied by various
        interactive exercises! Choose a desirable level and topic to see what we have in store for you.
      </p>
      <br/>
      <p class="advantages">
        All exercises are also available in their downloadable and printable versions. Every exercise is followed by the
        answer keys and detailed explanations, so that you could use them off-line.
      </p>
      <br/>
      <p class="advantages">
        Our exercises are designed to teach you quickly and effectively. They are organized and arranged in a specific
        order that will facilitate learning and keep you motivated.
      </p>
      <br/>
      <p class="advantages">
        Log in if you want to track your progress. This way you’ll be able to see how well you are coping, which lessons
        you’ve already covered and which ones remain untouched.
      </p>
      <br/>
      <p class="advantages">
        You can go through the lessons at your own pace. We are not in a hurry! It’s only up to you to decide how many
        times you want to review a lesson or redo an exercise!
      </p>
    </mat-card-content>
    <!--<mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>-->
  </mat-card>
</div>
