<div class="advantages-section  ">
  <mat-card class="shadow-lg p-3 mb-5 bg-white rounded">
    <mat-card-content>
      <h2 class="text-center"><b>About this Web app</b></h2>
      <p class="advantages">
        This web app is the tool for creating online courses with lessons and tests. The primary focus of the app is
        language courses.
        You can see how real courses look
        like in the <a [routerLink]="'/courses'">For learners</a> section at the top.
      </p>
      <br/>
      <p class="advantages">
        To start creating courses - check the <a [routerLink]="'/courses/33/tutorial'">tutorial</a>.
      </p>
      <br/>
      <p class="advantages">
        This project is completely open source. The backend part is <a
        href="https://github.com/dmitrypotenko/lessonsbox-back">here</a> and the frontend is <a
        href="https://github.com/dmitrypotenko/lessonsbox-front">here</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
