<ngx-json-ld *ngIf="schema" [json]="schema"></ngx-json-ld>
<div class="courses-list">
  <div class="center" *ngIf="isLoggedId">
    <p class="warning"><span>
      WARNING!
    </span>
    </p>
    <p class="warning"><span>
      We can't track your progress if you are not logged in!
    </span>
    </p>
  </div>
  <h2 class="center">The List of English Courses</h2>
  <app-search></app-search>
  <mat-form-field class="m-2">
    <mat-label>FILTER</mat-label>
    <mat-select [formControl]="modeControl">
      <mat-option value="all">All</mat-option>
      <mat-option value="started">My started courses</mat-option>
      <mat-option value="completed">My completed courses</mat-option>
    </mat-select>
  </mat-form-field>
  <div style="width: 100%; height: 50vh;" class="d-flex justify-content-center" *ngIf="spinnerVisible">
    <mat-progress-spinner [mode]="'indeterminate'" style="margin: auto">
    </mat-progress-spinner>
  </div>

  <div class="d-flex flex-column" *ngIf="courses?.length">
    <div *ngFor='let course of courses' class="card shadow m-2">
      <app-course-card [course]="course" (deleteCourse)="deleteCourse($event)"></app-course-card>
    </div>
  </div>
  <div *ngIf="userData!=null && (userData.isSuperAdmin || userData.isAdmin)">
    <a class="btn btn-primary" routerLink="/courses/create" role="button">Create course</a>
  </div>
</div>
