<div class="courses-list" >

  <h2>Courses</h2>
  <mat-form-field class="m-2">
    <mat-label>FILTER</mat-label>
    <mat-select [formControl]="modeControl">
      <mat-option value="all">All</mat-option>
      <mat-option value="started">My started courses</mat-option>
      <mat-option value="completed">My completed courses</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="d-flex flex-column" *ngIf="courses?.length">
    <div *ngFor='let course of courses' class="card shadow">
      <div class="row">
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">{{course.name}}</h5>
            <p class="card-text">{{course.description}}</p>
            <a routerLink="/courses/{{course.id}}">
              <span *ngIf="!course.completion.isStarted">Start course</span>
              <span *ngIf="course.completion.isStarted && !course.completion.isCompleted">Continue</span>
              <span *ngIf="course.completion.isCompleted">View</span>
            </a>
          </div>
        </div>
        <div class="col">
          <button class="btn btn-primary m-2" routerLink="/courses/edit/{{course.id}}">Edit</button>
          <button class="btn btn-danger m-2" (click)="delete(course.id)">Delete</button>
        </div>
        <div class="col" *ngIf="course.completion.isStarted && !course.completion.isCompleted">
          <h2><span style="color: green">IN PROGRESS</span></h2>
        </div>
        <div class="col" *ngIf="course.completion.isCompleted">
          <h2><span style="color: gray">COMPLETED</span></h2>
        </div>
      </div>
    </div>

   <!-- <div *ngIf="courses?.length">
      <mat-card *ngFor='let course of courses' >
        <mat-card-title></mat-card-title>
      </mat-card>
      &lt;!&ndash;<mat-card-title>	Card title
<mat-card-subtitle>	Card subtitle
<mat-card-content>	Primary card content. Intended for blocks of text
<img mat-card-image>	Card image. Stretches the image to the container width
<mat-card-actions>	Container for buttons at the bottom of the card
<mat-card-footer>	Section anchored to the bottom of the card&ndash;&gt;
    </div>-->

    <div *ngIf="isAdmin">
      <a class="btn btn-primary" routerLink="/courses/create" role="button">Create course</a>
    </div>

  </div>
</div>
