<div *ngIf="userData!=null && (userData.isSuperAdmin || userData.isAdmin); else elseBlock" style="text-align: center">
  <mat-divider style="margin: 20px"></mat-divider>
  <div class="teacher-action">
    <a class="btn btn-primary m-2" routerLink="/courses/create" role="button">Create course</a>
    <p>Create a course that has lessons or tests.</p>
  </div>
  <mat-divider style="margin: 20px"></mat-divider>
  <div class="teacher-action">
    <a class="btn btn-primary m-2" routerLink="/groups" role="button">Group management</a>
    <p>Manage groups of students. Assign courses to groups.</p>
  </div>
</div>
<ng-template #elseBlock>
  <div style="text-align: center; margin-top: 20px">
    <b>You should
      <app-login style="display: inline"></app-login>
      to start creating courses.</b>
  </div>
</ng-template>
