
<div class="d-flex justify-content-center" style="margin-bottom: 30px">
  <div id="fb-root"></div>
  <div data-width="1200" data-height="500" class="fb-page flex-fill" data-href="https://www.facebook.com/LessonsBox" data-tabs="timeline"
       data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/LessonsBox" class="fb-xfbml-parse-ignore"><a
      href="https://www.facebook.com/LessonsBox">LessonsBox</a></blockquote>
  </div>
</div>

