<div class="d-flex flex-column w-100 ">
  <div style="margin: auto">
    <img style="height: 50vh"  src="assets/Poor_Developer.jpg">
  </div>
  <div style="margin: auto">
    Hi! I am a poor developer of this website. Unfortunately I need to eat something to develop this site further.
  </div>
  <div style="margin: auto;margin-top: 4vh;">
    <iframe src="https://funding.wmtransfer.com/widgets/vertical/5c8ca288-2ec2-4c0e-bce6-7796095c2dd9?bt=0&hs=1&sum=1" width="240" height="240" scrolling="no" style="border:none;"></iframe>
  </div>
</div>
