<div class="d-flex flex-column w-100">
  <div style="margin: auto">
    <img style="height: 50vh"  src="assets/Poor_Developer.jpg">
  </div>
  <div style="margin: auto">
    Hi! I am a poor developer of this website. Unfortunately I need to eat something to develop this site further.
  </div>
  <div style="margin: auto">
    <iframe src="https://funding.wmtransfer.com/widgets/vertical/315a361c-13db-44ec-8334-2f4006856feb?bt=0&hs=1&sum=1" width="240" height="240" scrolling="no" style="border:none;margin-top: 4vh;"></iframe>
  </div>
</div>
