@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


$enable-responsive-font-sizes: true;

.button-small {
}


h1, h2, h3, p, h5, h4 {
  margin: 0;
  padding: 0;
  color: black;
}


a {
  color: rgb(14, 139, 155);
}



