@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


$enable-responsive-font-sizes: true;

.table {
  width: auto;
}

.media {
  width: 50%;
  height: 50%;
  margin: auto !important;
}

.button-small {
}


h1, h2, h3, p, h5, h4 {
  margin: 0;
  padding: 0;
  color: black;
}


a {
  color: rgb(14, 139, 155);
}
