@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


$enable-responsive-font-sizes: true;

.table {
  width: auto;
}

.ck-content .table table {
  border: 1px solid !important;
}

.ck-content .table table td,
.ck-content .table table th {
  min-width: 2em;
  padding: .4em;
  border: 1px solid !important;
}

.button-small {
}


h1, h2, h3, p, h5, h4 {
  margin: 0;
  padding: 0;
  color: black;
}


a {
  color: rgb(14, 139, 155);
}
