<div style="width: 100vw;" class="d-flex justify-content-center">
  <mat-icon style="position: relative; top: 15px">search</mat-icon>
  <form class="search-form" style="width: 60vw;" >
    <mat-form-field style="width: 100%">
      <input type="text"
             placeholder="Search for lessons"
             aria-label="Number"
             matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="mapView">
        <mat-option *ngFor="let option of options | async" [value]="option" style="height: auto; border-bottom: 2px solid gray; border-top: 2px solid gray;">
          <a class="disabledLink" [routerLink]="'/courses/' + courseService.constructCourseUrl(option.courseName, option.courseId) + '/steps/' + courseService.constructCourseUrl(option.lessonName, option.orderNumber) ">
            <div style="color: #1d75b3">{{option.lessonName}}</div>
            <div class="text-wrap" [innerHTML]="option.matchedExtract"></div>
          </a>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
