.comment-wrap {
  position: relative;
  left: 40px;
}

.comment-editor {
  background-color: #f1f1f1;
}
.editing-comment {
  margin-right: 30px;
  margin-left: 30px;
}

.cancel-edit {
  height: fit-content;
}

.comments-title {
  margin-bottom: 50px;
}
